@import "tailwindcss";
@import "tw-animate-css";

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9897 0.0051 247.8755);
  --foreground: oklch(0.2006 0.0201 248.8607);
  --card: oklch(0.9795 0.0075 241.6615);
  --card-foreground: oklch(0.2483 0.0207 251.6484);
  --popover: oklch(0.9897 0.0051 247.8755);
  --popover-foreground: oklch(0.2006 0.0201 248.8607);
  --primary: oklch(0.5 0.2 250);
  --primary-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.9192 0.0198 245.6499);
  --secondary-foreground: oklch(0.2993 0.0296 248.8443);
  --muted: oklch(0.9406 0.0143 238.0141);
  --muted-foreground: oklch(0.5010 0.0495 243.7637);
  --accent: oklch(0.55 0.18 250);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.5812 0.2378 28.3945);
  --destructive-foreground: oklch(0.9804 0.0042 236.4958);
  --border: oklch(0.8808 0.0205 238.6974);
  --input: oklch(0.8999 0.0196 240.7516);
  --ring: oklch(0.5998 0.1604 250.1740);
  --chart-1: oklch(0.5549 0.1745 253.6271);
  --chart-2: oklch(0.5997 0.1600 260.0742);
  --chart-3: oklch(0.5249 0.1672 254.0097);
  --chart-4: oklch(0.6504 0.1395 269.7443);
  --chart-5: oklch(0.5798 0.1204 235.3486);
  --sidebar: oklch(0.9698 0.0083 236.5588);
  --sidebar-foreground: oklch(0.2483 0.0207 251.6484);
  --sidebar-primary: oklch(0.2993 0.0296 248.8443);
  --sidebar-primary-foreground: oklch(0.9698 0.0083 236.5588);
  --sidebar-accent: oklch(0.9192 0.0198 245.6499);
  --sidebar-accent-foreground: oklch(0.2993 0.0296 248.8443);
  --sidebar-border: oklch(0.8808 0.0205 238.6974);
  --sidebar-ring: oklch(0.5998 0.1604 250.1740);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: #0072d5;
  --shadow-2xs: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.04);
  --shadow-xs: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.04);
  --shadow-sm: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.08), 0px 1px 2px -1px hsl(207.8873 100% 41.7647% / 0.08);
  --shadow: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.08), 0px 1px 2px -1px hsl(207.8873 100% 41.7647% / 0.08);
  --shadow-md: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.08), 0px 2px 4px -1px hsl(207.8873 100% 41.7647% / 0.08);
  --shadow-lg: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.08), 0px 4px 6px -1px hsl(207.8873 100% 41.7647% / 0.08);
  --shadow-xl: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.08), 0px 8px 10px -1px hsl(207.8873 100% 41.7647% / 0.08);
  --shadow-2xl: 0px 1px 3px 0px hsl(207.8873 100% 41.7647% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1200 0.0153 252.5127);
  --foreground: oklch(0.9513 0.0101 238.5127);
  --card: oklch(0.1601 0.0188 247.9828);
  --card-foreground: oklch(0.9513 0.0101 238.5127);
  --popover: oklch(0.1792 0.0198 252.2306);
  --popover-foreground: oklch(0.9513 0.0101 238.5127);
  --primary: oklch(0.95 0 0);
  --primary-foreground: oklch(0.15 0 0);
  --secondary: oklch(0.2207 0.0299 247.3922);
  --secondary-foreground: oklch(0.9012 0.0144 238.0263);
  --muted: oklch(0.2418 0.0294 247.1524);
  --muted-foreground: oklch(0.6501 0.0498 244.6803);
  --accent: oklch(0.55 0.18 250);
  --accent-foreground: oklch(0.15 0 0);
  --destructive: oklch(0.7010 0.1903 21.9422);
  --destructive-foreground: oklch(0.9513 0.0101 238.5127);
  --border: oklch(0.2813 0.0402 246.7775);
  --input: oklch(0.3209 0.0491 248.5544);
  --ring: oklch(0.6457 0.1932 254.2120);
  --chart-1: oklch(0.6457 0.1932 254.2120);
  --chart-2: oklch(0.6002 0.1796 264.9390);
  --chart-3: oklch(0.6959 0.1723 244.1902);
  --chart-4: oklch(0.5508 0.1599 269.7421);
  --chart-5: oklch(0.6223 0.1362 237.1497);
  --sidebar: oklch(0.1404 0.0178 243.2291);
  --sidebar-foreground: oklch(0.9012 0.0144 238.0263);
  --sidebar-primary: oklch(0.9513 0.0101 238.5127);
  --sidebar-primary-foreground: oklch(0.1404 0.0178 243.2291);
  --sidebar-accent: oklch(0.2207 0.0299 247.3922);
  --sidebar-accent-foreground: oklch(0.9012 0.0144 238.0263);
  --sidebar-border: oklch(0.2607 0.0392 245.4899);
  --sidebar-ring: oklch(0.6457 0.1932 254.2120);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #000205;
  --shadow-2xs: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.06);
  --shadow-xs: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.06);
  --shadow-sm: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.12), 0px 1px 2px -1px hsl(216 100.0000% 0.9804% / 0.12);
  --shadow: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.12), 0px 1px 2px -1px hsl(216 100.0000% 0.9804% / 0.12);
  --shadow-md: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.12), 0px 2px 4px -1px hsl(216 100.0000% 0.9804% / 0.12);
  --shadow-lg: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.12), 0px 4px 6px -1px hsl(216 100.0000% 0.9804% / 0.12);
  --shadow-xl: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.12), 0px 8px 10px -1px hsl(216 100.0000% 0.9804% / 0.12);
  --shadow-2xl: 0px 1px 3px 0px hsl(216 100.0000% 0.9804% / 0.30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* Base styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
